<!DOCTYPE html>
<html>
    <head>
        <!-- tags-->
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
        <!-- CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
        <title> Testando !!!</title>
    </head>
    <body>
        <h1> Teste bootstrap</h1>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
        </script>
    </body>
</html>